.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
    gap: 1rem; /* Adjust the gap between grid items as needed */
  }
  
  .grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
<<<<<<< HEAD
  }

  .grid-box {
    width: auto;
    height: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 26px 12px;
=======
>>>>>>> 3048171874dbd75e4d32f1cb42da8ffd2343c235
  }